<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>person</mat-icon>
    </button>
    <span>User Management</span>
    <span><a href="http://">C</a></span>
    <span><a href="http://">A</a></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>